body{
    margin: 0;
}

 #site{
    background-color: rgb(202, 140, 6);
    width: 72vw;
    height: auto;
    justify-content: center;
    margin: auto;
    
    /*
    grid-template-columns: auto auto;
    grid-template-columns:30% 70%;
    grid-template-columns: auto auto;*/
    
    display: grid;
    grid-template-columns: auto  ;

    grid-template-areas:
    'topo'
    'areaPerfil'
    'areaStory'
    'galeria' ;
    
    
}

#topo{

    background-color: aquamarine;
    grid-area: topo;

    height: 5vh;
    width: 70vw;
    
 
}




#areaPerfil{
    background-color: rgb(155, 142, 5);
    width: 55vw;
    height: 40vh;
    padding: 1em;
    
    grid-template-rows: 35%  auto ;
    grid-area: areaPerfil;
    display: grid;
    grid-template-areas:
    'fotoPerfil   nomeSeguirMensagem'
    'fotoPerfil   bio                ';
    

}



#fotoPerfil{
    background-color: rgb(0, 210, 28);
    width: 18vw;
    height: 18vw;

    grid-area: fotoPerfil;
}

#nomeSeguirMensagem{
    background-color: rgb(8, 226, 255);
    width: 25em;
    height: 5em;

    grid-area: nomeSeguirMensagem;
}

#bio{   
    background-color: rgb(245, 46, 1);
    width: 25em;
    height: 9em;
    
    grid-area: bio;

}




#areaStory{
    background-color: rgb(215, 7, 230);
    height: 12vh;
    width: 70vw;
    margin: 1em 0em 1em 0em;
    
    
    
    grid-template-columns: 10% 10% 10% 10% 10%  ; 
    grid-area: areaStory;
    display: grid;
   
}

.story{
    background-color: rgb(10, 221, 31);
    width: 4em;
    height: 4em;
    margin: 0.5em 0.5em;
    
}





#galeria{
    background-color: rgb(133, 186, 8);

    grid-area: galeria;
    display: grid;
    grid-template-columns: repeat(3, auto);
   

}
.fotos{
    background-color: rgb(204, 240, 5);
    width: 15em;
    height: 15em;
    margin: 0.5em;

    
}
